.ant-collapse-item {
  background-color: rgb(255, 255, 127);
}

.features {
  font-size: 1.5rem;
}

.disp-container {
  margin: 0px 50px;
}

.ant-form-item,
.ant-btn {
  margin: 0px 20px;
}

@media only screen and (max-width: 768px) {
  .features {
    font-size: 1rem;
  }
  .disp-container {
    margin: 0px 10px;
  }
}

@media (max-width: 425px) {
  .main-container {
    flex-direction: column;
    margin-top: -30px;
    scale: 0.9;
  }
  .disp-container {
    width: 100%;
    margin: 20px 0px;
  }
  #inputContainer {
    flex-direction: column;
  }
  .ant-form-item,
  .ant-btn {
    margin: 10px 0px;
  }
}
